h1 {
 font-family: fantasy;
}

img{
  /* height: 200; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px; */
}

/* 
.evgeny{
  border: solid;
  border-color: aqua;
  
  height: 200; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
} */