
<h1>Today's Image</h1>


<iframe width="560" height="315" src= <%= @daily_image%> title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<img src= >




<% if @comments.any? %>
  <ul>
    <% @comments.each do |comment| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= comment.user_id %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= comment.created_at %></h6>
          <p class="card-text"><%= comment.content_body %></p>
        </div>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no comments yet.</p>
<% end %>

<button>click here for beer</button>